<mat-toolbar color="primary">
  <div class="d-flex" style="width: 100%">
    <div>
      <span *ngIf="isHandset$ | async">
        <mat-icon
          style="cursor: pointer"
          color="white"
          (click)="drawer.toggle()"
          >menu</mat-icon
        >&nbsp;&nbsp;
      </span>
      <span style="font-family: accounting-font;">
        Accounting Made Easy
      </span>
    </div>
    <div class="ms-auto">
      <mat-icon style="cursor: pointer" [matMenuTriggerFor]="menu"
        >person</mat-icon
      >
      <span>{{ currentUser?.firstName }}</span>
    </div>
    <div>
      <mat-menu #menu>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [opened]="(isHandset$ | async) ? false : true"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    Menu
    <mat-divider></mat-divider>
    <mat-nav-list>
      <ng-container *ngFor="let menu of menus">
        <a  [routerLink]="menu.route" mat-list-item class="menu-link" >
          <img src="../../../assets/icons/{{menu.icon}}" height="30px" width="30px" alt=""> &nbsp;&nbsp; 
          {{ menu.title }}
          </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="mat-elevation-z3 content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
