@import '../../../styles-variables.scss';

.mat-sidenav-container {
  height: calc(100vh - 65px)
}

// .sidenav {
//   width: 200px;
//   height: 100vh;
//   margin: 5px 5px;
//   background-color: $accounting-primary-color;
// }

// .sidenav .mat-toolbar {
//   background: inherit;
// }

// .mat-toolbar.mat-primary {
//   position: sticky;
//   top: 0;
//   z-index: 1;
// }

.mat-sidenav {
  //  height: 100vh;
   margin: 16px;
   color: white;
   padding: 10px;
   text-align: center;
   background-color: $accounting-primary-color;
   border-radius: 10px;
   width: 200px;
}

.content {
  height: calc(100vh - 130px);
  margin: 10px;
  margin-left: 32px;
  border-radius: 10px;
  padding: 20px;
}
