<accounting-dialog-layout [title]="'Add new account'">
  <ng-container ngProjectAs="page-content">
    <form formGroup="accountForm">
      <div class="row m-2">
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Account Name</mat-label>
            <input type="text" formControlName="name" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-6">
          <mat-form-field>
            <mat-label>Account Description</mat-label>
            <input type="text" formControlName="description" matInput />
          </mat-form-field>
        </div>
        <div class="col-sm-12">
          <mat-form-field>
            <mat-label>Account Balance</mat-label>
            <input type="text" formControlName="balance" matInput />
          </mat-form-field>
        </div>
      </div>
    </form>
  </ng-container>
</accounting-dialog-layout>
