<div class="save-area">
  <ng-container *ngIf="!confirming">
    <button mat-flat-button class="cancel-btn" (click)="onCancel()">
      <i class="fa fa-times" aria-hidden="true"></i>&nbsp; Cancel</button
    >&nbsp;&nbsp;
    <button mat-raised-button class="save-btn" (click)="onSave(confirmFirst)">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Save
    </button>
  </ng-container>
  <ng-container *ngIf="confirming">
    <p>
      {{ confirmText }} &nbsp;&nbsp;
      <button class="confirm-yes" (click)="onSave()">
        <i class="fa fa-check" aria-hidden="true" (click)="onSave()"></i>&nbsp;
        Yes</button
      >&nbsp;
      <button class="confirm-no" (click)="onCancel()">
        <i class="fa fa-times" aria-hidden="true"></i>&nbsp; No
      </button>
    </p>
  </ng-container>
</div>
